<h1>Flickr Search</h1>

<p> Please enter your search term below</p>

<form action='/slideshow' method='post'>
	<p> 
    <label> Search Term  </label>
    <input name = 'search_term' type='text'/>      
  </p>

  <p>
    <input name = 'submit' type='submit'> 
  </p>
</form>