- if @slideshow_photos.count > 0
  - content_for :head do
    - javascript_include_tag 'galleria-1.2.9.min', 'galleria.classic.min', 'slideshow'

  #gallery
    %ol
    - @slideshow_photos.each do |photo|
      %li
        %img{:src => photo['url'] }
- else
  %p There are no photos for this search. 